@model IEnumerable<UI.Models.CartItem>

@{
    ViewData["Title"] = "Index";
    var tongTien = Model.Sum(p => p.ThanhTien);
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form action="#">
                <div class="table-content table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th class="product-thumbnail">Hình</th>
                                <th class="product-name">Hàng hóa</th>
                                <th class="product-price">Giá bán</th>
                                <th class="product-quantity">Số lượng</th>
                                <th class="product-subtotal">Tổng tiền</th>
                                <th class="product-remove">Xóa</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="product-thumbnail"><a asp-action="Detail" asp-route-id="@item.MaHh" asp-controller="Product"><img src="~/images/Products/@item.MaHh/@item.Hinh" alt="man" /></a></td>
                                    <td class="product-name"><a asp-action="Detail" asp-route-id="@item.MaHh" asp-controller="Product">@item.TenHh</a></td>
                                    <td class="product-price"><span class="amount">@item.GiaBan.ToVND()</span></td>
                                    <td class="product-quantity"><input type="number" value="@item.SoLuong"></td>
                                    <td class="product-subtotal">@item.ThanhTien.ToVND()</td>
                                    <td class="product-remove"><a asp-route-id="@item.MaHh" asp-controller="Cart" asp-action="RemoveCartItem"><i class="fa fa-times"></i></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
            <div class="buttons-cart mb-30">
                <ul>
                    <li><a href="#">Cập nhật đơn hàng</a></li>
                    <li><a asp-controller="Product">Tiếp tục mua hàng</a></li>
                </ul>
            </div>
            <div class="coupon">
                <h3>Coupon</h3>
                <p>Điền mã quà tặng (nếu có).</p>
                <form asp-controller="Cart" asp-action="ApplyCoupon">
                    <input required name="CouponCode" placeholder="Coupon code">
                    <button class="btn btn-success">Áp dụng</button>
                    <span class="text-danger">@ViewBag.CouponMessage</span>
                </form>
            </div>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
            @await Component.InvokeAsync("YourOrder")
            <div class="wc-proceed-to-checkout">
                <a asp-action="Checkout">Proceed to Checkout</a>
            </div>
        </div>
    </div>
</div>