@model IEnumerable<UI.Data.Product>
@{
    ViewData["Title"] = "Index";
    var category = ViewBag.Category as Category;
}

<div class="shop-main-area mb-70">
    <div class="container">
        <div class="section-title-5 mb-30">
            <h2>@category.CategoryName</h2>
        </div>
        <div class="toolbar mb-30">
            <div class="shop-tab">
                <div class="tab-3">
                    <ul>
                        <li class="active"><a href="#th" data-toggle="tab"><i class="fa fa-th-large"></i>Grid</a></li>
                        <li><a href="#list" data-toggle="tab"><i class="fa fa-bars"></i>List</a></li>
                    </ul>
                </div>
                <div class="list-page">
                    <p>Items 1-9 of 11</p>
                </div>
            </div>
            <div class="field-limiter">
                <div class="control">
                    <span>Show</span>
                    <!-- chosen-start -->
                    <select data-placeholder="Default Sorting" style="width:50px;" class="chosen-select" tabindex="1">
                        <option value="Sorting">1</option>
                        <option value="popularity">2</option>
                        <option value="rating">3</option>
                        <option value="date">4</option>
                    </select>
                    <!-- chosen-end -->
                </div>
            </div>
            <div class="toolbar-sorter">
                <span>Sort By</span>
                <select id="sorter" class="sorter-options" data-role="sorter">
                    <option selected="selected" value="position"> Position </option>
                    <option value="name"> Product Name </option>
                    <option value="price"> Price </option>
                </select>
                <a href="#"><i class="fa fa-arrow-up"></i></a>
            </div>
        </div>
        <!-- tab-area-start -->
        <div class="tab-content">
            <div class="tab-pane active" id="th">
                <div class="row">
                    @foreach (var product in Model)
                    {
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <!-- single-product-start -->
                            <div class="product-wrapper mb-40">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="~/images/Products/@product.ProductId/@product.MainImage" alt="book" class="primary" />
                                    </a>
                                    <div class="quick-view">
                                        <a class="action-view preview-product" data-id="@product.ProductId" href="#" title="Quick View">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </div>
                                    @if (product.HasDiscount)
                                    {
                                        <div class="product-flag">
                                            <ul>
                                                <li><span class="sale">new</span></li>
                                                <li><span class="discount-percentage">@product.Discount%</span></li>
                                            </ul>
                                        </div>
                                    }
                                </div>
                                <div class="product-details text-center">
                                    <div class="product-rating">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        </ul>
                                    </div>
                                    <h4><a href="#">@product.Title</a></h4>
                                    <div class="product-price">
                                        <ul>
                                            <li>@product.SalePrice.ToVND()</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-link">
                                    <div class="product-button">
                                        <a href="#" title="Mua ngay"><i class="fa fa-shopping-cart"></i>Mua ngay</a>
                                    </div>
                                    <div class="add-to-link">
                                        <ul>
                                            <li><a asp-controller="Product" asp-action="Detail" asp-route-id="@product.ProductId" title="Chi tiết"><i class="fa fa-external-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- single-product-end -->
                        </div>
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="list">
                <!-- single-shop-start -->
                <div class="single-shop mb-30">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="product-wrapper-2">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="img/product/3.jpg" alt="book" class="primary" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <div class="product-wrapper-content">
                                <div class="product-details">
                                    <div class="product-rating">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        </ul>
                                    </div>
                                    <h4><a href="#">Crown Summit</a></h4>
                                    <div class="product-price">
                                        <ul>
                                            <li>$36.00</li>
                                            <li class="old-price">$38.00</li>
                                        </ul>
                                    </div>
                                    <p>The sporty Joust Duffle Bag can't be beat - not in the gym, not on the luggage carousel, not anywhere. Big enough to haul a basketball or soccer ball and some sneakers with plenty of room to spare,...											</p>
                                </div>
                                <div class="product-link">
                                    <div class="product-button">
                                        <a href="#" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </div>
                                    <div class="add-to-link">
                                        <ul>
                                            <li><a href="product-details.html" title="Details"><i class="fa fa-external-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single-shop-end -->
                <!-- single-shop-start -->
                <div class="single-shop mb-30">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="product-wrapper-2">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="img/product/18.jpg" alt="book" class="primary" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <div class="product-wrapper-content">
                                <div class="product-details">
                                    <div class="product-rating">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        </ul>
                                    </div>
                                    <h4><a href="#">Driven Backpack</a></h4>
                                    <div class="product-price">
                                        <ul>
                                            <li>$34.00</li>
                                            <li class="old-price">$36.00</li>
                                        </ul>
                                    </div>
                                    <p>The sporty Joust Duffle Bag can't be beat - not in the gym, not on the luggage carousel, not anywhere. Big enough to haul a basketball or soccer ball and some sneakers with plenty of room to spare,...											</p>
                                </div>
                                <div class="product-link">
                                    <div class="product-button">
                                        <a href="#" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </div>
                                    <div class="add-to-link">
                                        <ul>
                                            <li><a href="product-details.html" title="Details"><i class="fa fa-external-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single-shop-end -->
                <!-- single-shop-start -->
                <div class="single-shop mb-30">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="product-wrapper-2">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="img/product/10.jpg" alt="book" class="primary" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <div class="product-wrapper-content">
                                <div class="product-details">
                                    <div class="product-rating">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        </ul>
                                    </div>
                                    <h4><a href="#">Fusion Backpack</a></h4>
                                    <div class="product-price">
                                        <ul>
                                            <li>$59.00</li>
                                        </ul>
                                    </div>
                                    <p>The sporty Joust Duffle Bag can't be beat - not in the gym, not on the luggage carousel, not anywhere. Big enough to haul a basketball or soccer ball and some sneakers with plenty of room to spare,...											</p>
                                </div>
                                <div class="product-link">
                                    <div class="product-button">
                                        <a href="#" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </div>
                                    <div class="add-to-link">
                                        <ul>
                                            <li><a href="product-details.html" title="Details"><i class="fa fa-external-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single-shop-end -->
                <!-- single-shop-start -->
                <div class="single-shop mb-30">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="product-wrapper-2">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="img/product/5.jpg" alt="book" class="primary" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <div class="product-wrapper-content">
                                <div class="product-details">
                                    <div class="product-rating">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        </ul>
                                    </div>
                                    <h4><a href="#">Set of Sprite Yoga Straps</a></h4>
                                    <div class="product-price">
                                        <ul>
                                            <li> <span>Starting at</span>$34.00</li>
                                        </ul>
                                    </div>
                                    <p>The sporty Joust Duffle Bag can't be beat - not in the gym, not on the luggage carousel, not anywhere. Big enough to haul a basketball or soccer ball and some sneakers with plenty of room to spare,...											</p>
                                </div>
                                <div class="product-link">
                                    <div class="product-button">
                                        <a href="#" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </div>
                                    <div class="add-to-link">
                                        <ul>
                                            <li><a href="product-details.html" title="Details"><i class="fa fa-external-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single-shop-end -->
                <!-- single-shop-start -->
                <div class="single-shop">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="product-wrapper-2">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="img/product/19.jpg" alt="book" class="primary" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <div class="product-wrapper-content">
                                <div class="product-details">
                                    <div class="product-rating">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        </ul>
                                    </div>
                                    <h4><a href="#">Compete Track Tote</a></h4>
                                    <div class="product-price">
                                        <ul>
                                            <li>$32.00</li>
                                        </ul>
                                    </div>
                                    <p>The sporty Joust Duffle Bag can't be beat - not in the gym, not on the luggage carousel, not anywhere. Big enough to haul a basketball or soccer ball and some sneakers with plenty of room to spare,...											</p>
                                </div>
                                <div class="product-link">
                                    <div class="product-button">
                                        <a href="#" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </div>
                                    <div class="add-to-link">
                                        <ul>
                                            <li><a href="product-details.html" title="Details"><i class="fa fa-external-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single-shop-end -->
            </div>
        </div>
        <!-- tab-area-end -->
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
            </div>
            <div class="modal-body" id="previewContent">
                
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->

@section Scripts{ 
    <script>
        $(function () {
            $(".preview-product").click(function (e) {
                var productId = $(this).data("id");

                $.ajax({
                    url: "/Product/Preview/",
                    data: { id: productId },
                    success: function (data) {
                        $("#previewContent").html(data);
                        $("#productModal").modal("show");
                    }
                });

                e.preventDefault();
            });
        });
    </script>
}